{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    
    <h1 style="text-align: center;">Edit an entry!</h1>

        <form action="{% url 'wiki:save_edit' %}" method="POST">
            {% csrf_token %}
            <label>New entry content:</label>
            <input type="hidden" name="title" value="{{ title }}">
            <textarea name="edit">{{ content }}</textarea>
            <button type="submit">Submit</button>
        </form>

{% endblock %}